@mixin col-6{
    width: 50%;
    float: left;
}

@mixin col($width:50%){
    width: $width;
    float: left;
}

// media编译后会自动到顶层
// type-of:数据类型，not、and、or为逻辑运算，unitless:是否没有单位，unit:输出单位，percentage:转换为百分比
@mixin col-sm($width:50%){ // 50%为默认值
    @if type-of($width) != number{
        @error "width必须是一个数值类型，你输入的width是：#{$width}";
    }
    @if not unitless($width){
        @if unit($width) != "%" {
            @error "width应该是一个百分值，你输入的width是：#{$width}";
        }
    }@else{
        @warn "width应该是一个百分值，你输入的width是：#{$width}";
        $width: (percentage($width) / 100);
    }

    @media (min-width: 768px){
        width: $width;
        float: left;
    }
}