/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*sass 默认使用的编码格式为UTF-8*/

/**
 * CONTENTS
 * 
 * SETTINGS
 * variabes....................变量集中存储文件
 * mixin.......................minxin集中存储文件
 *
 * TOOLS
 *
 * CONPONENTS
 * reset.......................compass内置浏览器重置样式
 *
 * BUSINESS
 *
 * BASE
 * screen......................针对当前站点主页的样式修饰
 */

// 所有下划线的scss文件是不进行编译的，常用于定义变量或者方法。
// import引入的文件两个遵循既定规则：1.不带后缀的文件自动添加.scss或.sass。2.同一目录下局部文件和非局部文件不能重名。
// 所以import局部文件的时候，variables不需要加入下划线也不需要后缀名
// screen.scss为宿主文件，_variables.scss为局部文件

// 如果不想使用sass的import，就要使用css的import的话，要满足四点要求之一：
// 1.引入的是url：import url('');
// 2.引入的是css文件：import style.css;
// 3.引入的是以http协议开头的字符串：import: "http://...";
// 4.引入的是带有media queries的： import: '' projection tv;

// 引入多个文件时，中间用逗号隔开

// "compass/reset"是怎么被引入的？
// sass文件时以当前宿主文件进行寻路的，sass提供了一个load_path选项，可以添加额外的寻路路径，
// 通过compass可以配置load_path，将compass目录加入到了寻路目录当中，而reset则是compass提供的一个重置模块

// 使用reset的确定是重置了所以的默认样式，如果要使用默认样式还需要再设置回来，不能统一不同浏览器的默认差异，所以当值资源的浪费。
// 使用compass的插件机制，用normalize统一浏览器的默认差异，来替换reset。

@import "variables",  "mixin", "compass/reset";

.headline {
    font-family: $headline-ff;
}

.main-sec {
    font-family: $main-sec-ff;
    
    .headline{
        font: {
            family: $main-sec-ff;
            size: 14px;
        }
    }

    .detail{
        font-size: 12px;
    }
}

a{
    &:hover{
        color: blue;
    }
}

.col-6{
    @include col-6;

    &:hover{
        background-color: #f5f5f5;
    }
}

.col{
    @include col();
}

%font12{
    font-size: 12px;
}

.error{
    @extend %font12;
    color: #f00;
}
.serious-error{
    @extend .error, .col-6;
    border: 1px #f00;
}

// extend 不能继承嵌套样式: @extend .a .b;
// %font12:占位符，不会出现在编译后的css中
// extend嵌套使用，子会继承父及父辈的所有继承
// extend多个继承中使用逗号分隔：@extend .a, .b;

.col-sm{
    @include col-sm();
}